<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

  <title>EC Company</title>

  <link href="static/vendor/bootstrap/css/bootstrap.min.css "rel="stylesheet">

  <link rel="stylesheet" href="static/assets/css/templatemo-style.css">
</head>

<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <div id="main">
      <div class="inner">

        <!-- Header -->
        <header id="header">
          <div class="logo">
            <a href="/">EC COMPANY</a>
          </div>
        </header>

        <!-- Banner -->


        <!-- Services -->
        <section class="services">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4" ng-click="createProduct()">
                <div class="service-item first-item">
                  <div class="icon"></div>
                  <h4>Products</h4>
                  <p>Add new products to the inventory</p>
                </div>
              </div>
              <div class="col-md-4" ng-click="shipProducts()">
                <div class="service-item second-item">
                  <div class="icon"></div>
                  <h4>Shipments</h4>
                  <p>Send and buy products</p>
                </div>
              </div>
              <div class="col-md-4" ng-click="openInventory()">
                <div class="service-item third-item">
                  <div class="icon"></div>
                  <h4>Inventory</h4>
                  <p>Track the products</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

  </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>