<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

  <title>EC Company</title>

  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="static/assets/css/templatemo-style.css">
</head>

<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <div id="main">
      <div class="inner">

        <!-- Header -->
        <header id="header">
          <div class="logo">
            <a href="/">EC COMPANY</a>
          </div>
        </header>

        <!-- Banner -->


        <!-- Services -->
        <section class="forms">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-heading">
                    <h2>Create a new product</h2>
                  </div>
                  <form id="contact" action="">
                    <div class="row">
                      <div class="col-md-6">
                        <fieldset>
                          <input name="name" type="text" class="form-control" id="name" ng-model="productName" placeholder="Product name..." required="">
                        </fieldset>
                      </div>
                      <div class="col-md-6">
                        <fieldset>
                          <input name="sku" type="text" class="form-control" id="sku" placeholder="Product SKU..." required="">
                        </fieldset>
                      </div>
                      <div class="col-md-12">
                        <select name="category" id="category">
                          <option value="categories" selected>Select Category</option>
                          <option value="Featured">Fish</option>
                          <option value="Newest">Mollusc</option>
                          <option value="Low Price">Crustacean</option>
                        </select>
                      </div>
                      <div class="col-md-4 col-sm-4">
                        <fieldset>
                            <input step=".01" name="price" type="number" class="form-control" id="price" placeholder="Enter a price ($)..." required="true">
                        </fieldset>
                      </div>
                      <div class="col-md-4 col-sm-4">
                        <fieldset>
                            <input step=".01" name="weight" type="number" class="form-control" id="weight" placeholder="Enter the weight (Kg)..." required="true">
                        </fieldset>
                      </div>
                      <div class="col-md-4 col-sm-4">
                        <fieldset>
                            <input name="quantity" type="number" class="form-control" id="quantity" placeholder="Enter the quantity of product..." required="true">
                        </fieldset>
                      </div>
                      <div class="col-md-12">
                        <button id="form-submit" class="button" ng-click="createProduct()">Send Message</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </section>

      </div>
    </div>

  </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>