
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");

body {
	font-family: 'Roboto Slab', sans-serif;
}

/* Basic */

input, select, textarea {
	outline: none;
}

a:hover {
	color: #FC3;
	text-decoration: none;
}

p {
	font-size: 14px;
	line-height: 25px;
	color: #7a7a7a;
	letter-spacing: 0.2px;
}

h4 {
	font-size: 19px;
	font-weight: 700;
	color: #31323a;
	letter-spacing: 0.25px;
}

img {
	width: 100%;
	overflow: hidden;
}

.primary-button a,
button {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
    background-color: transparent;
	display: inline-block;
	padding: 8px 20px;
	color: #535ba0;
	border: 2px solid #535ba0;
	transition: all 0.5s;
}
.primary-button a:hover,
button:hover {
	color: #fff;
	background-color: rgba(83,91,160,1);
}

section#search {
	border-bottom: none;
	padding-bottom: 0px;
}

section {
	border-bottom: 3px solid #eee;
	padding-bottom: 100px;
}

/* Wrapper */

#wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    min-height: 100vh;
}


/* Main */

#main {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    width: 100%;
}

#main > .inner {
    padding: 100px 40px 100px 40px;
    /*padding: 100px*/
}

/* Tables */

section.tables {
    margin-top: 80px;
    border-top: 3px solid #eee!important;
    padding-top: 100px;
}

section.tables .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.default-table {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    background-color: #f7f7f7;
    padding: 50px;
}

.alternate-table {
    margin-top: 50px;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    background-color: #f7f7f7;
    padding: 50px;
}

.alternate-table table td {
    border-right: 2px solid #f7f7f7;
}

.alternate-table table td:last-child {
    border-right: none;
}


table {
    width: 100%;
}

table tbody tr {
    border-left: 0;
    border-right: 0;
    border-bottom: 10px solid #f7f7f7;
}

table td {
    padding: 20px;
}

table th {
    padding: 0px 20px 20px 20px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: left;
    text-transform: capitalize;
}

    @media screen and (max-width: 980px) {

        table th {
            font-size: 15px;
        }

    }

table.alt {
    border-collapse: separate;
}

table.alt tbody tr td {
    border: solid 1px;
    border-left-width: 0;
    border-top-width: 0;
}

    table.alt tbody tr td:first-child {
        border-left-width: 1px;
    }

table.alt tbody tr:first-child td {
    border-top-width: 1px;
}

table.alt thead {
    border-bottom: 0;
}

table.alt tfoot {
    border-top: 0;
}

table tbody tr {
    background-color: #e7e7e7;
}

    table tbody tr:nth-child(2n + 1) {
        background-color: #fff;
    }

table th {
    color: #4a4a4a;
}

ul.table-pagination {
    padding: 0;
    margin-top: 30px;
    list-style: none;
    text-align: center;
}

ul.table-pagination li {
    display: inline-block;
}

ul.table-pagination li:first-child {
    float: left;
}

ul.table-pagination li:last-child {
    float: right;
}

ul.table-pagination li a {
    display: inline-block;
    height: 40px;
    background-color: #e7e7e7;
    text-align: center;
    line-height: 40px;
    padding: 0px 15px;
    min-width: 40px;
    color: #4a4a4a;
    text-transform: uppercase;
    font-size: 13px;
    transition: all 0.5s;
}

ul.table-pagination li a:hover,
ul.table-pagination li.active a {
    background-color: #535ba0;
    color: #fff;
}

/* Services */

.services {
	margin-top: 100px;
}

.services .container-fluid {
	padding-left: 13px;
	padding-right: 13px;
}

.services .col-md-4 {
	padding-left: 2px;
	padding-right: 2px;
}

.services .service-item {
	margin-bottom: 3px;
	background-color: #eaebef;
	padding: 50px;
	text-align: center;
	transition: all 0.5s;
}

.services .service-item .icon {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin-bottom: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.5s;
}

.services .first-item .icon {
	background-image: url(../images/icon_04.png);
}
.services .first-item:hover .icon {
	background-image: url(../images/icon_hover_04.png);
}

.services .second-item .icon {
	background-image: url(../images/icon_06.png);
}
.services .second-item:hover .icon {
	background-image: url(../images/icon_hover_06.png);
}

.services .third-item .icon {
	background-image: url(../images/icon_03.png);
}
.services .third-item:hover .icon {
	background-image: url(../images/icon_hover_03.png);
}

.services .service-item:hover {
	background-color: #535ba0;
}
.services .service-item:hover h4,
.services .service-item:hover p {
	color: #fff;
}

.services .service-item h4 {
	margin-bottom: 20px;
	transition: all 0.5s;
}

.services .service-item  p {
	margin-bottom: 0px;
	transition: all 0.5s;
}



/* Page Heading */
.page-heading .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.page-heading h1 {
    margin-top: 0px;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
}

.page-heading p {
    font-size: 15px;
    color: #4a4a4a;
}

/* Section Heading */

.section-heading .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.section-heading h2 {
    margin-top: 0px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
}





/* Header */

#header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: relative;
    background-color: #535ba0;
    margin: -100px -100px 100px -100px;
}

#header .logo {
    text-align: right;
    display: inline-block;	
    width: 100%;
    height: 100px;
    line-height: 100px;
}
#header .logo a {
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	font-weight: 700;
	margin-right: 100px;
}


/* Footer */

#footer .copyright {
	text-align: center;
    color: #fff;
    font-size: 14px;
    margin-top: 50px;
}

#footer .copyright p {
	margin-bottom: 0px;
}


section.forms {
    margin-top: 90px;
}

section.forms .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.forms input,
.forms select {
    font-size: 14px;
    color: #7a7a7a;
    width: 100%;
    height: 50px;
    border-radius: 0px;
    border: 2px solid #eee;
    outline: none;
    padding-left: 20px;
    line-height: 50px;
    margin-bottom: 40px;
}

.forms textarea {
    font-size: 14px;
    color: #7a7a7a;
    width: 100%;
    height: 160px;
    max-height: 220px;
    border-radius: 0px;
    border: 2px solid #eee;
    outline: none;
    padding-left: 20px;
    line-height: 50px;
    margin-bottom: 40px;
}

.forms input:focus,
.forms select:focus,
.forms textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: #535ba0;
}
